# Ignore everything
*

# Except these
!.gitignore
!README.md
!.config
!.config/**

!.bashrc
!.bash_profile

# But do ignore these (copilot stores stuff like chat sessions here) 
.config/github-copilot

